.main-start {
    margin-top: 150px;
}

.start-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 300px;
}

.top-icon-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    margin-top: -50px;
    width: 400px;
}

.icon-container {
    background-color: white;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paper {
    border: 15px solid hsl(230, 89%, 62%);
    margin-right: 80px;
}

.scissors {
    border: 15px solid hsl(39, 89%, 49%);
}

.rock {
    border: 15px solid hsl(349, 71%, 52%);
}

.triangle {
    margin-left: 50px;
}

.rules-modal {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 175px;
    left: 600px;
    z-index: 1000;

    .rules-modal-title {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .rules-title {
        color: hsl(217, 16%, 45%);
        font-size: 2.7rem;
        margin-bottom: 30px;
    }
    // .close {

    // }
}
