.main-start {
    margin-top: 150px;
}

.start-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 300px;
}

.top-icon-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: -50px;
    width: 500px;
}

.icon-container {
    background-color: white;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    &:hover {
        cursor: pointer;
    }
}

.paper {
    border: 20px solid hsl(230, 89%, 62%);
}

.scissors {
    border: 20px solid hsl(39, 89%, 49%);
}

.rock {
    border: 20px solid hsl(349, 71%, 52%);
}

.triangle {
    margin-left: 50px;
}

.rules-modal {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 175px;
    z-index: 9000;
    animation: modalSlide 0.5s ease-out forwards;
    transform: translateY(50%);

    @keyframes modalSlide {
        from {
            transform: translateY(50%);
            opacity: 0;
        }

        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .rules-modal-title {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .rules-title {
        color: hsl(217, 16%, 45%);
        font-size: 2.7rem;
        margin-bottom: 30px;
    }
    .close:hover {
        cursor: pointer;
    }
}
